/*border*/

.border-gray {
    border: 1px solid #999;
}

.table-bordered.border-gray th,
.table-bordered.border-gray td {
    border: 1px solid #999;
}

.border-plan1 {
    border: 2px solid #b27044;
}

.border-plan2 {
    border: 2px solid #b27044;
}

.border-plan3 {
    border: 2px solid #6a5496;
}

.border-plan4 {
    border: 2px solid #2a4f37;
}

.border-plan5 {
    border: 2px solid #1e4164;
}

.border-plan1-bottom {
    border-bottom: 4px solid #b27044;
}

.border-plan2-bottom {
    border-bottom: 4px solid #b27044;
}

.border-plan3-bottom {
    border-bottom: 4px solid #6a5496;
}

.border-plan4-bottom {
    border-bottom: 4px solid #2a4f37;
}

.border-plan5-bottom {
    border-bottom: 4px solid #1e4164;
}

.border-x {
    border-bottom: 1px solid #ccc;
}

.border-orange {
    border: 1px solid #d8804e;
}

.border-contrast-left {
    border-left: 8px solid $color-contrast-dark;
}

.border-contrast-bottom {
    border-bottom: 4px solid $color-contrast-dark;
}

.border-contrast {
    border-color: $color-contrast !important;
}

.border-bold {
    border-width: 2px;
}

.border-solid {
    border-style: solid;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

.border-boldgray {
    border: 3px solid #ccc;
}

.border-pink {
    border: 1px solid #c85554;
}

.border-boldpink {
    border: 5px solid #c85554;
}

.border-contact {
    border: 5px solid #ecb8b7;
}

.border-cta {
    border: 3px solid rgb(170, 68, 68);
}

@media (min-width:576px) {
    .border-sm {
        border: 1px solid #dee2e6 !important;
    }
    .border-sm-contact {
        border: 5px solid #ecb8b7;
    }
}

@media (min-width:768px) {
    .border-md-contact {
        border: 5px solid #ecb8b7;
    }
}

@media (min-width:992px) {
    .border-lg {
        border: 1px solid #ccc;
    }
    .border-lg-none {
        border: none !important;
    }
}


/*rounded*/

.rounded-1 {
    border-radius: 1rem;
}

.rounded-2 {
    border-radius: 2rem;
}

@media (min-width:768px) {
    .rounded-tl-md-pill {
        border-top-left-radius: 50rem;
    }
    .rounded-l-md-pill {
        border-top-left-radius: 50rem;
        border-bottom-left-radius: 50rem;
    }
}


/*shadow*/

.box-shadow-l {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.text-shadow-l {
    text-shadow: 0px 0px 8px #222;
    border-radius: 30px;
}


/*z-index*/

.z-index-100 {
    z-index: 100;
}

.z-index-200 {
    z-index: 200;
}

.z-index-300 {
    z-index: 300;
}


/*overflow*/

.overflow-y {
    overflow-y: scroll;
}

.overflow-x {
    overflow-x: scroll;
    overflow-y: hidden;
}

@media (min-width:992px) {
    .overflow-x {
        overflow-x: visible;
    }
    .overflow-lg-auto {
        overflow-x: visible;
        overflow-y: visible;
    }
}


/*overwrap*/

.container-over-full {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
}

.container-over-left {
    margin-left: calc(50% - 50vw);
}

.container-over-right {
    margin-right: calc(50% - 50vw);
}

@media (min-width:768px) {
    .container-over-md-right {
        margin-right: calc(50% - 50vw);
    }
}


/*position*/

.position-middlecenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.position-right_top {
    position: absolute;
    top: 0;
    right: 0;
}

.position-right_bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

.position-left_top {
    position: absolute;
    top: 0;
    left: 0;
}

.position-left_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.position-right_middle {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.position-left_middle {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

@media (min-width:992px) {
    .position-lg-right_bottom {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .position-lg-left_bottom {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .position-lg-static {
        position: static;
    }
    .position-lg-absolute {
        position: absolute;
    }
}

@media (min-width:1200px) {
    .overflow-xl-hidden {
        overflow: hidden;
    }
}


/*thumnail*/

.thum-saijo {
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: relative;
}

.thum-saijo img {
    width: 240px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.thum-option {
    width: 100%;
    height: auto;
}


/*button*/

.button {
    cursor: pointer;
    border: none;
}

.btn-border {
    border: 1px solid #ccc;
}

.btn-border:hover {
    opacity: 0.75;
}

.btn-bordershadow {
    border: 1px solid #ddd;
    border-bottom: 4px solid #ddd;
    display: block;
    transition-duration: 0.05s;
    transition-timing-function: ease;
    transition-delay: 0;
}

.btn-bordershadow:hover {
    margin-top: 3px;
    border-bottom: 1px solid #ddd;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-acd,
.btn-circle-right {
    position: relative;
}

.btn-acd::after {
    font-family: FontAwesome;
    content: "\f106";
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 2rem;
    z-index: 100;
}

.btn-acd.collapsed::after {
    font-family: FontAwesome;
    content: "\f107";
}

.btn-circle-right::after {
    font-family: FontAwesome;
    content: "\f138";
    position: absolute;
    top: 2px;
    right: 1rem;
    color: white;
    font-size: 1.6rem;
}

.btn-totop {
    position: absolute;
    top: -60px;
    right: 10px;
}

.image-rendering {
    image-rendering: -webkit-optimize-contrast;
}


/*thumnail*/

.thum-plan {
    width: 100%;
    height: auto;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 20px;
}


/*balloon*/

.balloon,
.balloon-right {
    position: relative;
}

.balloon:before {
    content: "";
    position: absolute;
    top: 100%;
    right: 25%;
    border: 10px solid transparent;
    border-top: 10px solid $color-contrast;
}

.balloon-right p {
    margin: 0;
    padding: 0;
}

@media (min-width:768px) {
    .balloon-right:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -10px;
        border: 10px solid transparent;
        border-left: 15px solid #fff;
    }
}


/*list*/

.list {
    list-style: none;
    padding-left: 1.5rem;
}

.list li {
    text-indent: -1.5rem;
}

.list.asterisk li::before {
    content: "※";
    margin-right: .25rem;
}

.list.check li::before {
    content: "";
    font-family: FontAwesome;
    content: "\f00c";
    margin-right: 0.5rem;
    color: #c85554;
}

.list.check-circle li::before {
    content: "";
    font-family: FontAwesome;
    content: "\f058";
    margin-right: 0.5rem;
    color: #c85554;
}

.list-style-none,
.list-style-none li {
    list-style: none;
}